#hero{
  background: url("../../../assets/images/bg.png") no-repeat center/cover;
  min-height: 100vh;
  .hero{
    z-index: 20;
    display: flex;
    flex-direction: column;
    &--title{
      margin-top: 180px;
      margin-left: 120px;
      h1{
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 140%;
        color: #FFFFFF;
      }
    }
    &--data{
      position: static;
      display: flex;
      width: 600px;
      justify-content: space-between;
      margin-top: 50px;
      margin-left: 120px;

      &--item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 112px;
        background: #121212;
        h2{
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          line-height: 140%;
          color: #FFFFFF;
        }
        p{
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: rgba(255, 255, 255, 0.19);
        }
      }
    }
  }
}