#header{
  position: fixed;
  backdrop-filter: blur(5px);
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--img{
      width: 200px;
    }
    &--nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      a{
        padding: 0 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
      }
    }
    &--btn{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn{
        width: 183px;
        height: 44px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        border-radius: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        border: none;
      }
      .dark{
        width: 100px;
        height: 44px;
        background: #000;
        border-radius: 50px;
        color: white;
        font-size: 16px;
        border: none;
        margin: 0 10px;
      }
    }
  }
}